html {
line-height: 1;
}

.navemphasize {
    /*border: solid 1px;*/
    text-align: center;
    overflow: hidden;
    /*margin: 2em auto;*/
    /*width: 800px;*/
    position: relative;
}
.navemphasize a {
    display: block;
    position: relative;
    float: left;
    padding: 1em 0 1em;
    width: 10%;
    text-decoration: none;
    color: #393939;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -o-transition: .7s;
    -ms-transition: .7s;
    transition: .7s;
}

.navemphasize a:hover {
    color: #9d9d9d;
}

.effect {
    position: absolute;
    left: -12.5%;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

.navemphasize a:nth-child(1):hover ~ .effect {
    left: 5%;
}
.navemphasize a:nth-child(2):hover ~ .effect {
    left: 15%;
}
.navemphasize a:nth-child(3):hover ~ .effect {
    left: 25%;
}
.navemphasize a:nth-child(4):hover ~ .effect {
    left: 35%;
}
.navemphasize a:nth-child(5):hover ~ .effect {
    left: 45%;
}

.ph-dot-nav:after {
    content: "";
    display: block;
    position: absolute;
    width: 200%;
    height: 1px;
    background: #9d9d9d;
    bottom: 6px;
}
.ph-dot-nav a:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    bottom: 5px;
    left: 50%;
    margin-left: -2px;
    background: #9d9d9d;
    border-radius: 100%;
}
.ph-dot-nav .effect {
    width: 10px;
    height: 10px;
    bottom: 1px;
    margin-left: -5px;
    background: #9d9d9d;
    border-radius: 100%;
}

.more-info {
    display: block;
    position: relative;
    /*height: 300px;*/
}

.details {
    border: 1px solid #ddd;
    /*height: 258px;*/
    padding: 0 5px;
    background-color: #fff;
    border-top-color: transparent;
    border-radius: 0px 0px 3px 3px;
    font-size: 12px;
}
.details-image {
    padding: 10px 0px 10px 2px;
    margin-right: -18px;
}

.details-summary {
    padding: 10px 0px 10px 2px;
}
.icons{
    /*color: #9d9d9d;*/
    text-align:center;
    margin: -4px;
}
.add-record {
    text-align: right;
    padding: 0 0 5px 5px;
}
